@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  text-align: center; }
  body .main {
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    body .main .header {
      background: linear-gradient(90deg, #4285F4, #35A2F1);
      width: 100vw;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 50px;
      overflow: hidden;
      position: relative; }
      body .main .header .circle {
        position: absolute;
        z-index: 1; }
      body .main .header .circle:nth-child(1) {
        width: 500px;
        height: 500px;
        border-radius: 250px;
        background: rgba(255, 255, 255, 0.05); }
      body .main .header .circle:nth-child(2) {
        width: 800px;
        height: 800px;
        border-radius: 400px;
        background: rgba(255, 255, 255, 0.1); }
      body .main .header .circle:nth-child(3) {
        width: 1200px;
        height: 1200px;
        border-radius: 600px;
        background: rgba(255, 255, 255, 0.15); }
      body .main .header h1 {
        color: white;
        font-size: 1.7em;
        font-weight: 300;
        position: absolute;
        z-index: 2; }
    body .main .block-div {
      height: 500px;
      width: 40%;
      margin-top: 50px;
      margin-left: 30%;
      margin-right: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fafafa;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
      body .main .block-div h2 {
        color: #7E7E7E;
        font-weight: 300;
        font-size: 2em;
        margin-bottom: 15px; }
      body .main .block-div p {
        color: #7E7E7E;
        font-size: 1em;
        font-weight: normal;
        margin-top: 15px; }
      body .main .block-div .signin-div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .main .block-div .signin-div .forms {
          display: flex;
          flex-direction: column;
          width: 350px;
          align-items: center; }
          body .main .block-div .signin-div .forms input {
            border-radius: 3;
            background: #EAF1FC;
            color: white;
            border: none;
            font-size: 18px;
            font-weight: normal;
            height: 40px;
            width: 320px;
            margin-top: 15px;
            padding-left: 15px;
            outline: none; }
          body .main .block-div .signin-div .forms input::placeholder {
            color: rgba(0, 0, 0, 0.4);
            opacity: 1; }
          body .main .block-div .signin-div .forms button {
            margin-top: 15px;
            width: 240px;
            height: 40px;
            font-size: 1em;
            border-radius: 3px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            color: white;
            background: #5F97F6;
            border: none;
            outline: none; }
        body .main .block-div .signin-div .actions-div {
          margin-top: 50px;
          display: flex;
          justify-content: space-between;
          width: 420px; }
          body .main .block-div .signin-div .actions-div a {
            color: #4285F4;
            text-decoration: none;
            font-size: 24;
            font-weight: 500; }
      body .main .block-div #gSignInWrapper {
        cursor: pointer;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
        body .main .block-div #gSignInWrapper .customGPlusSignIn {
          background: white;
          width: 250px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #5F97F6;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          border-radius: 3px; }
          body .main .block-div #gSignInWrapper .customGPlusSignIn span.icon {
            width: 30px;
            height: 30px;
            background: url("../img/google-logo.png");
            background-size: cover;
            background-color: white; }
          body .main .block-div #gSignInWrapper .customGPlusSignIn span.buttonText {
            margin-left: 15px;
            color: white;
            font-weight: 300px;
            font-size: 18px; }

/*# sourceMappingURL=blue_signin.css.map */
