@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Font Variables
$roboto: 'Roboto', sans-serif;


$lightBlue: #35A2F1;
$darkBlue: #4285F4;
$btn: #5F97F6;
$gray: #7E7E7E;
$fresh: #EAF1FC;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: $roboto;
  text-align:center;
  .main{
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .header{
      background: linear-gradient(90deg, $darkBlue, $lightBlue);
      width: 100vw;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 50px;
      overflow: hidden;
      position: relative;
      .circle{
        position: absolute;
        z-index: 1;
      }
      .circle:nth-child(1){
        width: 500px;
        height: 500px;
        border-radius: 250px;
        background: rgba(255,255,255,0.05);
      }
      .circle:nth-child(2){
        width: 800px;
        height: 800px;
        border-radius: 400px;
        background: rgba(255,255,255,0.1);
      }
      .circle:nth-child(3){
        width: 1200px;
        height: 1200px;
        border-radius: 600px;
        background: rgba(255,255,255,0.15);
      }
      h1{
        color: white;
        font-size: 1.7em;
        font-weight: 300;
        position: absolute;
        z-index: 2;
      }
    }
    .block-div{
      height: 500px;
      width: 40%;
      margin-top: 50px;
      margin-left: 30%;
      margin-right: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fafafa;
      box-shadow: 0 0 2px rgba(0,0,0,0.3);
      h2{
        color:$gray;
        font-weight: 300;
        font-size: 2em;
        margin-bottom: 15px;
      }
      p{
        color:$gray;
        font-size: 1em;
        font-weight: normal;
        margin-top: 15px;
      }
      .signin-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        .forms{
          display: flex;
          flex-direction: column;
          width:350px;
          align-items: center;
          input{
            border-radius: 3;
            background: $fresh;
            color:white;
            border: none;
            font-size: 18px;
            font-weight: normal;
            height: 40px;
            width: 320px;
            margin-top: 15px;
            padding-left: 15px;
            outline: none;
          }
          input::placeholder {
              color: rgba(0,0,0,0.4);
              opacity: 1;
          }
          button{
            margin-top: 15px;
            width:240px;
            height: 40px;
            font-size: 1em;
            border-radius: 3px;
            box-shadow: 0 0 2px rgba(0,0,0,0.3);
            color: white;
            background:$btn;
            border: none;
            outline:none;
          }
        }
        .actions-div{
          margin-top: 50px;
          display: flex;
          justify-content: space-between;
          width: 420px;
          a{
            color:$darkBlue;
            text-decoration: none;
            font-size: 24;
            font-weight: 500;
          }
        }
      }
      #gSignInWrapper{
        cursor: pointer;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
          .customGPlusSignIn{
            background: white;
            width: 250px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $btn;
            box-shadow: 0 0 2px rgba(0,0,0,0.3);
            border-radius: 3px;
            span.icon{
              width: 30px;
              height: 30px;
              background: url('../img/google-logo.png');
              background-size: cover;
              background-color: white;
            }
            span.buttonText{
              margin-left: 15px;
              color:white;
              font-weight: 300px;
              font-size: 18px;
            }
          }
      }
    }
  }
}
