@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Font Variables
$roboto: 'Roboto', sans-serif;


$lightBlue: #5586DA;
$darkBlue: #4285F4;
$btn: #5F97F6;
$gray: #7E7E7E;
$fresh: #E9F0FB;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: $roboto;
  text-align:center;
  .main{
    width: 100vw;
    height: 100vh;
    background: #fafafa;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .header{
      background: linear-gradient(90deg, $darkBlue, $lightBlue);
      width: 100vw;
      height: 70px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 50px;
      h1{
        color: white;
        font-size: 1.5em;
        font-weight: 300;
      }
    }
    .block-div{
      height: 500px;
      width: 70%;
      margin-top: 50px;
      margin-left: 15%;
      margin-right: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: rgba(255,255,255,0.1);
      box-shadow: 0 0 2px rgba(0,0,0,0.3);
      h2{
        color:$gray;
        font-weight: 300;
        font-size: 2em;
      }
      p{
        color:$gray;
        font-size: 1em;
        font-weight: normal;
        margin-top: 15px;
      }
      .options-div{
        width: 80%;
        margin-top: 30px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        .signin-div{
          display: flex;
          flex-direction: column;
          align-items: center;
          .forms{
            display: flex;
            flex-direction: column;
            width:350px;
            align-items: center;
            input{
              border-radius: 3;
              background: $fresh;
              color:white;
              border: none;
              font-size: 18px;
              font-weight: normal;
              height: 40px;
              width: 320px;
              margin-top: 15px;
              padding-left: 15px;
              outline: none;
            }
            input::placeholder {
                color: $gray;
                opacity: 1;
            }
            button{
              margin-top: 15px;
              width:240px;
              height: 40px;
              font-size: 1em;
              border-radius: 3px;
              box-shadow: 0 0 2px rgba(0,0,0,0.3);
              color: white;
              background:$btn;
              border: none;
              outline:none;
            }
          }
          .actions-div{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 420px;
            a{
              margin-top: 10px;
              color:$darkBlue;
              text-decoration: none;
              font-size: 24;
              font-weight: 500;
            }
          }
        }
        #gSignInWrapper{
          cursor: pointer;
          margin-top: 30px;
            .customGPlusSignIn{
              background: white;
              padding-left: 25px;
              padding-right: 25px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: $darkBlue;
              box-shadow: 0 0 2px rgba(0,0,0,0.3);
              border-radius: 3px;
              span.icon{
                width: 30px;
                height: 30px;
                background: url('../img/google-logo.png');
                background-size: cover;
                background-color: white;
              }
              span.buttonText{
                margin-left: 15px;
                color:white;
                font-weight: 300px;
                font-size: 18px;
              }
            }
        }
      }
    }
  }
}
